div{
    box-sizing: border-box;
}

body{
    padding: 0px;
    background-image: url(imgs/_.jpeg);
}
.Title{
    color: aliceblue;
    font-size: 60px;
    text-align: center;
    font-family: "Rubik Doodle Shadow", system-ui;
}
.box{
    padding-right: 15px;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background-color: rgb(1, 4, 9);
    height: 650px;
    width: 920px;
    display: flex;
}

.container{
    display: flex;
    background-color: rgb(206, 215, 215);
    height: 600px;
    width: 600px;
    flex-wrap: wrap;
}

.drawing-container{
    padding: 20px;
    width: fit-content;
    
}
.tools-container{
    font-family: 'Inter';
    border-radius: 40px;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:100px;
    border: solid 2px rgb(206, 215, 215);
}

.tools-container button{
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    background-color: rgb(206, 215, 215);
    font-family: "Rubik Doodle Shadow", system-ui;
    padding: 10px 20px
}
.tools-container label {
    color: rgb(206, 215, 215);
    font-size: 16px;
    text-align: center;
}

.tools-container input[type="range"] {
    margin-top: 10px;
}
/* This is the Footer Styles copied from previous project
*/
.Footer{
    gap:4px;
    left: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(1, 4, 9);
    height: 70px;
    font-size: 20px;
}
.Footer p{
    font-family: 'Inter';
    color: white;
}
a{
    text-decoration: underline;
    color: white;
    
}
.git-icon{
    margin-left: 10px;
    height: 30px;
    width: 30px;
}
.git-icon img{
    height: auto;
    width: 100%;
    object-fit: contain;
}


/*slider range css (copied from net)*/

#slider {
    -webkit-appearance: none;  /* remove default style */
    width: 120px;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

/* The track / bar */
#slider::-webkit-slider-runnable-track {
    height: 6px;
    background: rgb(206, 215, 215);
    border-radius: 5px;
}

/* The draggable knob */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid rgb(206, 215, 215);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px; /* center the thumb */
}

/* Firefox support */
#slider::-moz-range-track {
    height: 6px;
    background: #4caf50;
    border-radius: 5px;
}

#slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid #4caf50;
    border-radius: 50%;
    cursor: pointer;
}
.slider-div{
    flex-direction: column;
    display: flex;
    align-items: center;
}